---
title: Home
---

<!doctype html>
  <html class="no-js" lang="">

  {% include indexhead.html %}

    <body>

  {% include indexnav.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <img src="img/weread_logo.png" id="logohome" class="middle">
          <h2 id="titlehome" class="middletext">It's all about books and you know it!</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11">
          <div class="col-md-6" id="bigbutton">
            <a href="pages/login.html"><button class="homebtnlink btn signup-btn">Login</button></a>
          </div>
          <div class="col-md-6" id="bigbutton">
            <a href="pages/signup.html"><button class="homebtnlink btn signup-btn">Sign Up</button></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-11">
          <img src="img/eyeglasses.png" id="glasses" class="middle">
          <h3 class="middletext">Need a lecture first?</h3>
          <p id="intro" class="middletext">What is weRead you ask? WeRead is a platform that connects people from all over the world through books. Whether it’s eBooks or plain old paper ones, weRead will be your guide! Go ahead and explore a world of pure fascination. Happy reading!</p>
        </div>
      </div>
    </div> <!-- /container -->


        <script src="https://www.w3schools.com/lib/w3.js"></script>
  {% include footer.html %}

    </body>
</html>
